body{
  background-image: url(https://img.freepik.com/free-photo/abstract-blur-supermarket_1339-4661.jpg?w=1380&t=st=1668450172~exp=1668450772~hmac=e5e95e8ef2f553af3d934de0cb24456023f38bd68727c8990ee3180c70f36e12);
  background-size: 1280px 720px;
}

#1{
  size: 10px;
}