body{
    background-image: url(https://img.freepik.com/premium-photo/empty-top-wooden-table-with-supermarket-blur-background_36051-467.jpg);
    background-size: 120rem 67.5rem;
    background-size: cover;
    width: min-content max-content;
}
.center{
    margin: 40% 50%;
    size: 2rem;
    background-color: rebeccapurple;
}